@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  /* glowny kolor */
  .text-primary {
    @apply text-[#ca001a];
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: black !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}
